@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

.nav{
    background: rgba(255, 255, 255, 0.2);
    height: 80px;
    box-shadow: 0px -10px 15px #353535;
}

.nav_label, .nav_input{
    display: none;
}

.nav_container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo{
    position: absolute;
    margin-right: 90%;
}

.nav_logo img{
    width: 60px;
}

.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.nav_items{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: .9s;
}

.nav_items:hover{
    color: #454545;
    transform: scale(1.1);
}

.container{
    width: 1200px;
    margin: 0 auto;
}

#home{
    height: 100vh;
    background: #ffffff;
}

.home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 4px auto;
}

.home_title{
    font-weight: 500;
    float: left;
}

.home_description{
    font-weight: 300;
    margin-left: -15rem;
    padding-top: 180px;
    width: 382px;
    text-align: left;
}

.home_img{
    height: 100%;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7rem;
    margin-left: 10rem;
}

.home_img img{
    width: 450px;
    float: right;
}
.btn_container{
    padding-top: 23rem;
    width: 7.6rem;
}

.btn{
    text-decoration: none;
    font-weight: 300;
    border: 2px solid rgb(255, 73, 73);
    color: #000;
    padding: 3px 20px;
    margin-left: -386px;
    transition: .8s;
}

.btn:hover{
    background: rgb(255, 73, 73);
    color: #fff;
}

#products{
    height: 90vh;
    background: #fcfcfc;
}

.products_container{
    padding-top: 2rem;
    text-align: center;
}

.products_title{
    margin-bottom: 18px;
}

.burger_container{
    margin: 60px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.burger_container img{
    height: 135px;
    margin-top: 10px;
    width: 230px;
}

.content{
    background: #fff;
    text-align: center;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-right: 13px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content h3{
    padding-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price{
    background: rgb(255, 73, 73);
    padding: 4px 20px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.stars{
    margin-top: 17px;
    padding-bottom: 20px;
    color: #ffd700;
}

.btn_{
    text-decoration: none;
    font-weight: 300;
    border: 2px solid rgb(255, 73, 73);
    color: #000;
    padding: 3px 20px;
    transition: .8s;
}

.btn_:hover{
    background: rgb(255, 73, 73);
    color: #fff;
}